/* src/assets/global.css */
:root {
    --background-colour: #181818;
    --calendar-colour: #424242;
    --today-colour: #adadad;
    --selected-day-colour: #757575;
    --chevroned-colour: #3a3a3a;
    --header-colour: #343434;
    --text-colour: #b1b1b1;
    --today-text-colour: #0a0a0a;
    --other-month-text-colour: #888888;
  }

  body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    user-select: none;
  }