/* src/assets/global.css */
:root {
    --background-colour: #181818;
    --calendar-colour: #424242;
    --today-colour: #adadad;
    --selected-day-colour: #757575;
    --chevroned-colour: #3a3a3a;
    --header-colour: #343434;
    --text-colour: rgb(177, 177, 177);
    --today-text-colour: rgb(10,10,10);
  }

  body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    user-select: none;
  }